/*
Arquivo css para formatação do site da cafeteria
*/

/*
Aplicar a formatação a todos os elementos. Usaremos o 
asterisco(*)
*/

* {
  /* zerar as margens externas dos elementos */
  margin: 0;
  /* zerar as margens internas dos elementos */
  padding: 0;
  /* ajuste das caixas(box) dos elementos */
  box-sizing: border-box;
}
header {
  height: 300px; /*altura da caixa*/
  /* Adicionar uma imagem ao fundo */
  background-image: url("../img/cafe5.jpg");
  /* ajustar a largura da imagem em 100% */
  background-size: 100%;
  /* ajustar a posição em x e y da imagem de fundo */
  background-position: 0 -120px;
  /* animação no fundo */
  transition: ease 1s;
  padding-top: 100px;
}
h1 {
  text-align: center;
  font-family: "verdana";
  color: white;
  /* aplicar uma sombra no texto */
  text-shadow: 10px 10px 5px black;
}

nav {
  background-color: darkred;
  text-align: center;
}

nav ul li {
  /* dispor os itens da lista(li) em linha */
  display: inline-block;
  /* aumentar a distância entre os elementos */
  padding: 10px;
  transition: ease 0.5s;
}
/* ao passar o mouse sobre o link o fundo link deve 
alter sua cor */
nav ul li:hover {
  background-color: tomato;
}

nav ul li a {
  font-family: "verdana";
  font-size: 10pt;
  color: white;
  /* retirar o underline do link */
  text-decoration: none; /*nenhum*/
}

footer {
  height: 300px; /*altura em 300px*/
  background-color: black;
  color: white;
  font-family: "arial";
  padding-top: 50px;
  /* dispor de forma flexível e em linha */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer div {
  width: 20%;
}

#redes ul li {
  display: inline-block;
  margin-left: 10px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}
/* ------------- Início do css da home ------------------ */
h2 {
  font-family: "arial";
  font-size: 20pt;
  margin: 50px;
  /* borda na parte inferior(bottom) do h2 */
  border-bottom: 1px solid darkred;
}

#home p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
  font-size: 12pt;
  line-height: 30pt; /*espaçamento entre linhas*/
  text-align: justify;
}

#imgHome {
  text-align: center;
}
#imgHome img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 100px;
  opacity: 0.7;
  transition: ease 0.5s;
  /* mudar o ponteiro do mouse para uma mão */
  cursor: pointer;
}
#imgHome img:hover {
  transform: scale(1.2);
  opacity: 1;
}
