body {
  background-color: beige;
}
#container {
  border: 1px solid red;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
#div1 {
  background-color: blue;
  flex: 1;
}
#div2 {
  background-color: red;
  flex: 0.3;
}
#div3 {
  background-color: green;
  flex: 4;
}
#div4 {
  background-color: fuchsia;
  flex: 1;
}
